@media screen and (min-width: 1440px)  {
    header nav {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-content: center;
        width: 100%;
        height: 90px;
        background-color: pink;
    }

.logo {
    width: 59.1px;
    height: 59.1px;
    margin-left: 10.8%;
    font-family: Roboto-Black;
    font-size: 1.125em;
    align-self: center;
    color: #572EE5;
}



header nav ul {
    display: flex;
    list-style: none;
    margin-right: 2.9%;
    /* align-content: center; */
    justify-content: space-between;
    align-self: center;
    align-items: center;
    width: 100%;
    
    background-color: rgb(153, 238, 179)
}
    
header nav ul li a{
    text-decoration: none;
    /* justify-content: space-between; */
    background-color: red;
    margin-left: 85.3%;
    font-family: Montserrat-bold;
    font-size: 0.813em;
    color: #572EE5;
    letter-spacing: 0;
    text-align: center;
   } 

   header nav ul li {
    
    flex-wrap: nowrap;
   }

 header nav ul li img {
    width: 54px;
    height: 54px;
} 

/* here ends hader */

main {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    color: #572EE5;
    text-align: center;
    /* background-color: yellow */
}

main section:nth-of-type(1) {
width: 64.9%;
height: 100px;
margin-top: 76px;
padding-left: 180px;
padding-right: 180px;
/* background-color: rgb(224, 183, 224); */
}

main section h1 {
    font-family: Montserrat-Bold;
    font-size: 2.188em;
    
    
    line-height: 50px;
}

main section h1 span {
    color: #50E3C2;
}

main section:nth-of-type(2) img {
    width: 399px;
    height: 190px;
    margin-left: 78px;
    display: block;
    padding-top: 24px;
    }

main section input {
    font-family: Roboto-Regular;
    font-size: 1em;
    color: #000000;
    text-align: left;
    background: #FFFFFF;
    border: 1px solid #572EE5;
    border-radius: 27px;
    width: 551px;
    height: 50px;
    padding-left: 3.8%;
    margin-top: 0;
}


main section:nth-of-type(3) {
    padding-top: 73px;
    padding-bottom: 95px;
    /* background-color: rgb(218, 89, 110); */
}

main section:nth-of-type(3) h2 {
font-family: Montserrat-Bold;
font-size: 1.125em;
padding-bottom: 7px;
line-height: 25px;
}  

main section:nth-of-type(3) p {
    font-family: Montserrat;
    font-weight: medium;
    font-size: 1em;
    
    line-height: 25px;
}

main section:nth-of-type(4) {
    width: 100%;
    height: 640px;
    background: #F3F5F8;
}

main section:nth-of-type(4) h2 {
    font-family: Montserrat-Bold;
    font-size: 1.563em;
    line-height: 30px;
    padding-top: 67px;
    padding-bottom: 12px;
}

main section:nth-of-type(4) p {
    font-family: Roboto-Regular;
    font-size: 1.125em;
    color: #000000;
}

/* here ends main */

footer {
    width: 100%;
    height: 116px;
    display: flex;
    flex-wrap: nowrap;
    font-family: Roboto-Regular;
    font-size: 0.813em;
    letter-spacing: 0;
    color: #000000;
}

footer h3 {
    padding-left: 156px;
    padding-top: 49.5px;
}
    
footer ul li {
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    padding-left: 20px;
}

footer ul {
    padding-top: 49.5px;
    display: flex;
    flex-flow: row nowrap;
    width: 20px;
    height: 20px;
    /* margin-left: 182px; */
    padding-left: 20px;
}

footer p {
    padding-left: 830px;
    padding-right: 158px;
    padding-top: 49.5px;
    
    
}

}
    
    
    
