* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgba(255, 255, 255, 0.5);
  list-style-type: none;
}

header {
  width: 100%;
}

.head-container {
  width: 100%;
  display: flex;
  align-items: center;
  align-content: space-around;
  justify-content: center;
  /* text-align: center; */
}

.border {
  width: 100%;
  height: 5px;
  background: #572ee5;
}

header nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;

  height: 90px;
  color: #572ee5;
  /* background-color: pink; */
}

.title {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
  color: #572ee5;
  font-family: Montserrat-Bold;
}

section .title h1 span {
  color: rgb(80, 227, 194);
}

section .search-container,
.active-search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

/* Llamar para desplegable: */

.searcher-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.search-pictures,
.favorite-pictures {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

#btn-search,
#btn-favo {
  width: 127px;
  height: 50px;
  border: 1px solid #572ee5;
  border-radius: 25px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  margin-bottom: 79px;
}

/* Acá termina desplegable Search */

/* Llamar para favoritos: */

/* .favorite-container-all {
  padding: 0;
  overflow: hidden;
  margin: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 1 calc(50% - 1em);
} */

.favo-cont {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  margin-bottom: 46px;
}

.favorite-pictures {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 1 calc(50% - 1em);
}

.favorite-container {
   column-count: 2
}

/* Acá termina favoritos */

.trending-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.gifos-container {
  width: 100%;
  height: 430px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  /* align-content: center; */
  flex-direction: column;
  background: #f3f5f8;
  text-align: center;
}

/* Dese acá footer */

.footer-container {
    width: 100%;
    height: 196px;
    text-align: center;
    padding: 45px 0 27px 0;
}
    
.footer-container footer {
    margin: auto;
}
    
.footer-container footer .social-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 47.8px;
}

.footer-container footer .social-container .icon-redes-footer {
    margin: 10px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}